@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Vazirmatn;
    font-style: normal;
    font-weight: bold;
    src: url("./assets/fonts/Vazirmatn-FD-Bold.ttf") format("truetype");
}

@font-face {
    font-family: Vazirmatn;
    font-style: normal;
    font-weight: normal;
    src: url("./assets/fonts/Vazirmatn-FD-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Vazirmatn;
    font-style: normal;
    font-weight: 500;
    src: url("./assets/fonts/Vazirmatn-FD-Medium.ttf") format("truetype");
}

@font-face {
    font-family: Vazirmatn;
    font-style: normal;
    font-weight: 600;
    src: url("./assets/fonts/Vazirmatn-FD-SemiBold.ttf") format("truetype");
}

body {
    font-family: Vazirmatn !important;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
